body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.SliderTop {
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.rec-arrow {
    
  background-color: rgba(0, 0, 0, 0.223)  !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: balck !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  min-width: 1.7rem !important;
  line-height: 1.7rem !important;
 
}

.rec-arrow:hover:not(:disabled) {
  transform: scale(1.2);
}


.rec-dot_active {
  background-color: rgba(0, 0, 0, 0.536) !important;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.536) !important;
}
.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.536) !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: rgba(0, 0, 0, 0.536)  !important;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.536) !important;
}
